# Locals
.makelib/
CVS/
msvc2015/
ref/
old/
objects.*/
lib.*/
bin.*/
*.ref/
tarballs/
Makefile 

# Temps
.#*
*~

# Prerequisites
*.d
*.log
*.old

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.err
*.mbr
*.aps

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bat

